@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    --corprimaria: hsl(300, 43%, 22%);
    --corprimaria2: hsl(333, 80%, 67%);
    --corneutra: hsl(303, 10%, 53%);
    --corneutra2: hsl(300, 24%, 96%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 15px;
    font-family: "League Spartan";
    background: url(images/bg-pattern-top-mobile.svg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

main{
    width:375px;
    height: 100%;
    margin: auto;
    padding: 70px 20px;
    position: relative;
}

aside{
    margin-bottom: 20px;
    position: relative;
}

aside h1{
    color: var(--corprimaria);
    font-size: 2em;
    margin-bottom: 20px;
}
aside p{
    margin-bottom: 20px;
}

.avaliacao{
    display: flex;
    flex-direction: column;
}

.avaliacao .rate{
    background-color: hsl(300, 19%, 85%);
    width: 100%;
    height: 80px;
    border-radius: 10px;    
    margin-bottom: 10px;
    position: relative;
}
.span{
    padding-top: 7px;
    display: flex;
    flex-wrap: nowrap;
    height: 20px;
    width: 130px;
    margin: auto;
}

.avaliacao .rate span{
    color: yellow;
    flex-wrap: nowrap;
    justify-content: center;
}


.avaliacao .rate p{
    overflow: hidden;
    position: relative;
    padding: 30px 0 5px 0px;
    text-align: center;
    color: var(--corprimaria);
    font-weight: 700;
}


main article .caixa{
    width: 100%;
    background-color: var(--corprimaria);
    height: 200px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;

}

article .caixa .img, .caixa h4, .caixa p{
    padding: 15px;
}

article .caixa .img img{
    border-radius: 50%;
    float: left;
    width: 50px;
}

article .caixa h4{
    display: flex;
    flex-direction: column;
    top: -15px;
    position: relative;
}

article .caixa h4 span{
    color: var(--corprimaria2);
}
article .caixa p{
    padding-top: 20px;
}

@media screen and (min-width: 1440px){
    body{
        background: white url(images/bg-pattern-top-desktop.svg);
        background-size: contain;
    }
    main{
        width: 69vw;
        padding-top: 100px;
    }
    div.tudo{
        width: 90%;
        margin: auto;
        overflow: hidden;
    }
    aside{
        height: 350px;
    }
    aside h1{
        font-size: 3.9em;
        width: 380px;
    }
    aside p{
        font-size: 1.2em;
        color: var(--corneutra);
        width: 450px;
        line-height: 25px;
        float: left;
    }
    .avaliacao{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        position: relative;
        top: -150px;
        left: -70px;
    }
    .avaliacao .rate{
        width: 470px;
        height: 60px;
        float: right;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .avaliacao .rate p{
        height: 20px;
        position: relative;
        top: 10px;
        padding: 10px;
    }
    .avaliacao .rate .span{
        display: flex;
        width: 200px;
        position: relative;
        justify-content: flex-end;
       top: -4px;
       left: 10px;
    }
    .avaliacao .rate:nth-child(1){
        left: 0px;
    }

    .avaliacao .rate:nth-child(2){
        position: relative;
        left: 35px;
    }
    .avaliacao .rate:nth-child(3){
        position: relative;
        left: 70px;
    }
    
    main article{
        display: flex;
        gap: 25px;
        height: 350px;
    }

    main article .caixa{
        width: 350px;
        padding: 20px
    }
    main article .caixa p{
        letter-spacing: 1px;
        font-weight: 400;
    }

    main article .caixa:nth-child(1){
        top: 0px;
    }

    main article .caixa:nth-child(2){
        position: relative;
        top: 35px;
    }
    main article .caixa:nth-child(3){
        position: relative;
        top: 70px;
    }
}